$black: #000;
$grey: #617073;
$background: #30122D;
$white: rgba(255, 255, 255, 0.95);
$animation-time-1: 1s;
$animation-time-2: 250ms;
$animation-time-3: 500ms;

body,
html {
  background: $background;
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  background: $grey;
  background: -webkit-linear-gradient(right, $white, #ff95bb, #709996, $white);
  background: linear-gradient(to left, $white, #ff95bb, #709996, $white);
  background: -o-linear-gradient(right, $white, #ff95bb, #709996, $white);
  background: -moz-linear-gradient(right, $white, #ff95bb, #709996, $white);
  -webkit-background-clip: text;
  color: $white;
  display: none;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  opacity: 1;
  text-align: center;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  width: 100%;
}

p {
  color: $white;
  opacity: 0.6;
  text-align: center;

  a {
    color: $white;
  }
}

canvas {
  animation-delay: $animation-time-3;
  background: $grey;
}
