$black: #000;
$grey: #333;
$white: rgba(255, 255, 255, .95);

body,
html {
  background: $grey;
  margin: 0;
  padding: 0;
}

h1 {
  background: $grey;
  color: $white;
  font-family: Verdana;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

canvas {
  background: $grey;
}
